.dashboard{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: max-content;
}
.carousel-item .d-block{
    width: 100%;
}
.blog-card{
    background-color: rgb(243, 243, 243);
}

.blogImg{
    width: 70%;
}
.blogPara{
    text-align: justify;
}