
.AddEmployee{
    width: 100%;
    /* margin: 2% 0; */
}
.AddEmployee h2{
    text-align: center;
}
.AddEmployee .loginCard{
    width: 40%;
    margin: auto;
    border: 3px solid rgb(221, 221, 221);
    border-radius: 10px;
    padding: 3em;
    color: black;
}
.AddEmployee .form-floating{
    margin: .5em;
}
